.heading{
    width: 100%;
    text-align: left;
}
.heading button{
    float: right;
    border:1px solid white;
}
.heading h3{
    display: inline;
}
.big_img{
    width: 100%;
}
#start{
    font-size: 22px;
}
#source{
    background-color: white;
    margin: 0px;
    line-height: 2;
}
.modal-dialog{
    width: 90%;
}
.instruction_img{
    display: inline-block;
    width: 45%;
}